{% extends 'smart/base.html' %}
{% load sm_tags %}
{% block content %}
   
{%show_mini_navigation%}
<div class="item-allcontent-wrapper">
 <!-- меню навигации-->
{% show_navigaition %}
    <!-- конец меню навигации-->
  
    <div class="item-content-wrapper">

     <div class="item-title-wrapper">
        <h1 class="item-title">
            <span>{{show_service.cat}}>></span>  {{title}}
        </h1>
    </div>   
  

    <div class="item-description-wrapper">
        <div class="item-description-image"><img class="item_image" src="{{show_service.page_image.url}}" alt="{{serv.title}}"></div> 
        <div class="item-description">{{show_service.annotation|safe}}</div> 
    </div> 

    <div class="prices-wrapper">   
        {% for price in prices %}
        {% if price.is_published %}

        {% if price.service_id == show_service.id %}

    <div class="price-block">
        <div><b>{{price.title}}</b></div>
        <div class="price-content">{{price.content|safe}}</div>
        <div class="price-link js-open-modal" data-modal="{{price.slug}}">{{price.extraLink}}</div>
        
        {% for extra in extracontent %}
            {% if extra.extraContent_id == price.id %}  
              <div class="extracontent-wrapper modal js-overlay-modal" data-modal="{{price.slug}}">
              <div class="extracontent">
                <span class="close-extra js-modal-close">&times;</span>
                <h1 class="extra-title">{{extra.title}}</h1>
                <img class="extra-image" src="{{extra.extra_image.url}}" alt="{{extra.title}}" /> 
                <div class="extra-paragraph"><p>{{extra.content|safe}}</p></div>
              </div>     
              </div>     
              {%endif%} 
        {% endfor %}
    

        </div>
        {%endif%}
        {%endif%}
        {% endfor %}

    </div>
    
   
        

    <div class="price-footer">
        {% if show_service.cat_id == 1 %}
        {% for serv in services %}
         {% if serv.is_published %}
         <a href="{{serv.get_absolute_url}}">
           <div class="price-footer-menu">{{serv.title}}</div> </a>
        {%endif%}
        {% endfor %}
        {% else %}
        {% for serv in souvenirs %}
         {% if serv.is_published %}
         <a href="{{serv.get_absolute_url}}">
           <div class="price-footer-menu">{{serv.title}}</div> </a>
        {%endif%}
        {% endfor %}

         {%endif%}
    </div>

</div> 

{% endblock content %}